.header{
  text-align: center;
  padding-top: 20px;
}
.timeline{
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 60px;


}

.timeline ul::before{
  content: "";
  position: absolute;
  left:5px;
  top: 0;
  width: 2px;
  height: 100%;
  background: black;

}.timeline ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
 }

 .timeline-item{
   display: flex;
   align-items: center;
   gap: 15px;
   position: relative;
 }

 .dot{
   flex-shrink: 0; /* Prevent shrinking */
   width: 12px;
   height: 12px;
   background-color: black;
   border-radius: 50%; /* Makes the dot circular */
 }

/* Timeline content styling */
.timeline-content {
  font-size: 16px;

}
.timeline-date {
  position: relative;
  font-size: 14px;
  color: darkred;
}
